<nav class="navbar">
    <!-- Left Side -->
    <div class="navbar-left">
        <span class="navbar-title">Manage Events</span>
    </div>

</nav>


<table class="company-table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Category</th>
            <th>Description</th>
            <th>Devicename</th>
            <th>Deviceid</th>
            <th>Timeraised</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>04-03-2025 09:35:19 </td>
            <td>Delete</td>
            <td>Dashboard is Deleted </td>
            <td>PIQ Application</td>
            <td>345</td>
            <td>04-03-2025 09:35:19 </td>
        </tr>
        <tr>
            <td>04-03-2025 09:35:19 </td>
            <td>Delete</td>
            <td>Dashboard is Deleted </td>
            <td>PIQ Application</td>
            <td>345</td>
            <td>04-03-2025 09:35:19 </td>
        </tr>
    </tbody>
</table>